<script lang="ts">
	import { onMount } from "svelte";
	import webmidi from 'webmidi'

	let loading = true
	let error : Error

	const width = 9
	const height = 9

	const grid = Array(height).fill(null).map((_, y) => (
		Array(width).fill(null).map((_, x) => ({
			id: `${x}.${y}`,
			x, y
		}))
	))
	
	let active : Set<string> = new Set()
	let output

	onMount(() => {
		webmidi.enable((err) => {
			if (err) {
				error = err
				loading = false
				return
			}

			try {

				// Viewing available inputs and outputs
				let [_1, input] = webmidi.inputs.filter(input => input.name === 'Launchpad Mini MK3')
				let [_2, _output] = webmidi.outputs.filter(output => output.name === 'Launchpad Mini MK3')
				output = _output

				if (!input && !output) {
					throw new Error(`No launchpad found: ${webmidi.inputs.map(({ name }) => name)}`)
				}
	
				console.log(input);
				console.log(output);
	
				// Set programmer mode
				 output.send(0xF0, [0x00, 0x20, 0x29, 0x02, 0x0D, 0x0E, 0x1, 0xF7])
	
				input.addListener('midimessage', 'all', ({ data: [type, note, state] }) => {
					if (type === 176 || type === 144) {
						const y = Math.floor(note / 10) - 1
						const x = note % 10 - 1
						const id = `${x}.${y}`
						if (!!state) {
							active.add(id)
						} else {
							active.delete(id)
						}
						console.log(x, y, x + 1 + ((y+1) * 10))
						active = active
					}
				})
			
				// Display the current time
				console.log(webmidi.time);
	
				loading = false
			} catch (e) {
				loading = false
				error = e
			}


		}, true)
	})

	$: if (output) {
		output.send(0xF0, [
				0x00, 0x20, 0x29, 0x02, 0x0D, 0x03,
				...grid.flatMap(row => row.flatMap(({ x, y, id }) => ([
					0x3,
					(x + 1) + ((y+1) * 10),
					...(active.has(id) ? [127, 0, 0] : [0, 127, 0])
				]))),
				0xF7
			])
	}
</script>

<main>
	{#if loading}
		<p>Loading</p>
	{:else if error}
		<p>Error: {error}</p>
	{:else}
		<svg viewBox="0 0 {width*10 - 1} {height*10 - 1}">
			{#each grid as row}
				{#each row as {x, y, id}}
					<rect class:active={active.has(id)} x={x*10} y={y*10} width=9 height=9 />
					<text fill='black' x={x*10 + 2} y={y*10 + 5} font-size='4'>{id}</text>
				{/each}
			{/each}
		</svg>
	{/if}
</main>

<style>
	main {
		text-align: center;
		padding: 0;
		max-width: 240px;
		margin: 0 auto;
	}

	svg {
		background: black;
		height: 95vh;
		width: 95vw;
	}

	rect {
		fill: white;
	}
	rect.active {
		fill: gray;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>